global
    log stdout format raw local0
    maxconn 4096
    tune.ssl.default-dh-param 2048
    ca-base /etc/ssl/certs
    crt-base /etc/haproxy/certs

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend ft_https_terminated
    bind *:8443 ssl crt /etc/haproxy/certs/
    mode http

    acl host_site1 hdr(host) -i site1.com
    use_backend bk_site1 if host_site1

    default_backend bk_site1

backend bk_site1
    mode http
    server site1 127.0.0.1:11443
